@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root {
    --text-color: #e9f5db;
    --background-color: #97a97c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    scroll-behavior: smooth;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

body {
    font-family: 'Bebas Neue', sans-serif;
    color: var(--text-color);
    margin: 0;
    overflow: auto;
    background: linear-gradient(315deg, #b5c99a 3%, #97a97c 38%, #87986a 68%, #718355 98%);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}


a {
    color: var(--text-color);
    text-decoration: none;
}


.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    z-index: 100;
}

.left .logo {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 52px;
    color: var(--text-color);
    text-decoration: none;
}

/* RIGHT NAV */
.right {
    display: flex;
    gap: 2rem;
}

/* Link container */
.nav-link {
    position: relative;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 36px;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    height: 36px;
    overflow: hidden;
}

/* FIRST layer — low opacity */
.nav-link .first {
    display: inline-block;
    color: var(--text-color);
    opacity: 0.3;                     /* inactive opacity */
    transform: translateY(0);
    transition: transform 0.7s cubic-bezier(.16,1,.3,1),
    opacity 0.3s ease;
}

/* SECOND layer — full opacity, starts below */
.nav-link .second {
    display: inline-block;
    color: var(--text-color);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    transform: translateY(2.5rem);
    transition: transform 0.7s cubic-bezier(.16,1,.3,1);
}

/* HOVER ANIMATION */
.nav-link:hover .first {
    transform: translateY(-2.5rem);
}

.nav-link:hover .second {
    transform: translateY(0);
}

/* ACTIVE LINK */
.nav-link.active .first {
    opacity: 1;                        /* full opacity */
    transform: translateY(0);
}

.nav-link.active .second {
    display: none;                     /* no sliding needed */
}


footer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem;
    font-size: 25px;
}

@media (max-width: 500px) {
    footer{
        padding: 1rem;
    }
}

